<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad de Córdoba</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <header>
        <div class="logo">
            <div class="custom-icon"></div>
        </div>
        <div class="title">
            <h1>DROGUERIA</h1>
            <h2>FARMACENTER</h2>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="collapse navbar-collapse" id="navbarNav7">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/header/informacionInicio']">Inicio</a>
                </li>

                <!-- Mostrar solo si el rol es admin -->
                <li *ngIf="getRole() === 'admin'" class="nav-item">
                    <a class="nav-link" [routerLink]="['/header/reportes']">Reportes</a>
                </li>

                <li *ngIf="getRole() === 'admin'" class="nav-item">
                    <a class="nav-link" [routerLink]="['/header/registros']">Registro de Empleado</a>
                </li>
                <li *ngIf="getRole() === 'admin'" class="nav-item">
                    <a class="nav-link" [routerLink]="['/header/registroAsistencia']">Registro de asistencia</a>
                </li>

            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>
</html>
