<div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
  <canvas id="estadoPorEmpleadoChart"></canvas>
</div>

<div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
  <canvas id="tardanzaEntradaChart"></canvas>
</div>
<div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
  <canvas id="tardanzaSalidaChart"></canvas>
</div>
<div class="chart-container" style="position: relative; height: 40vh; width: 80vw;">
  <canvas id="tardanzaGeneralChart"></canvas>
</div>
